<html>
<head><title>{{chara.name}} - {{chara.character_class }} {{chara.level}}</title></head>
  <body>
  <div class="page-list">
    <ul>
    {% for page in chara.page_set%}
        <li><a href="/chara/{{chara.id}}/{{page.name}}">{{page.title}}</a></li>
    {% endfor %}
    </ul>
  </div>
  <form action="" method="post">
    <input name="pageName" type="edit"/>
    <input type="submit" value="New page"/>
  </form>
    
  <a href="/delete/{{chara.id}}">Delete character</a>
    <form action="/edit" method="post">
      <div>Name<input type="edit" name="name" value="{{chara.name}}"></div>
      <div>Class<input type="edit" name="class" value="{{chara.character_class}}"></div>
      <div>Level<input type="edit" name="level" value="{{chara.level}}"></div>
      <div><input type="submit" value="Edit character"></div>
    </form>
  </body>
</html>
